*{
    background-color: aqua;
    outline: 3px solid red;
}

.ingredients{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: ;
}